Resources:
  ClientTable:
    Type: AWS::DynamoDB::Table
    Properties:
      KeySchema: 
        HashKeyElement:
          AttributeName: "buyer"
          AttributeType: "S"
      ProvisionedThroughput:
        ReadCapacityUnits: 1
        WriteCapacityUnits: 1
  TitleTable:
    Type: AWS::DynamoDB::Table
    Properties:
      KeySchema: 
        HashKeyElement:
          AttributeName: "name"
          AttributeType: "S"
      ProvisionedThroughput:
        ReadCapacityUnits: 1
        WriteCapacityUnits: 1
  RequestTable:
    Type: AWS::DynamoDB::Table
    Properties:
      KeySchema: 
        HashKeyElement:
          AttributeName: "id"
          AttributeType: "S"
      ProvisionedThroughput:
        ReadCapacityUnits: 1
        WriteCapacityUnits: 1

option_settings:
  "aws:elasticbeanstalk:customoption":
     "AlarmEmail" : "stevenmajack@gmail.com"
  "aws:elasticbeanstalk:application:environment":
    "AWS_REGION": "`{ "Ref" : "AWS::Region"}`"
    "TITLE_TABLE_NAME": "`{ "Ref" : "TitleTable"}`"
    "CLIENT_TABLE_NAME": "`{ "Ref" : "ClientTable"}`"
    "REQUEST_TABLE_NAME": "`{ "Ref" : "RequestTable"}`"

