<div class="panel panel-default">
  <ol class="breadcrumb pull-left" style="margin-top:8px;margin-bottom:0px;">
    <li>Clients</li>
  </ol>
  <div class="panel-heading clearfix">
    <a class="btn btn-primary pull-right" href="/requests/create">Create</a>
  </div>

  <table class="table">
    <thead>
      <th>Title</th>
      <th>Client</th>
    </thead>
    <tbody>
      {{# requests}}
	  	<tr>
			  <td><a href="/requests/view/{{ id }}">{{ title }}</a></td>
			  <td>{{ client }}</td>
		  </tr>
      {{/requests}}
    </tbody>
  </table>

</div>
