<div class="panel panel-default">
  <ol class="breadcrumb pull-left" style="margin-top:8px;margin-bottom:0px;">
    <li><h3 class="panel-title">Requests</h3></li>
  </ol>
  <div class="panel-heading clearfix">
    <a class="btn btn-primary pull-right" href="/requests/create">Create</a>
  </div>

  <div class="panel-body">
    Enter request details here. You need to have at least one <a href="/clients">client</a> and <a href="/titles">title</a> to create a request.
  </div>

  <table class="table">
    <thead>
      <th>Title(s)</th>
      <th>Client</th>
      <th>Created</th>
    </thead>
    <tbody>
      {{# requests}}
	  	<tr>
			  <td>{{ title }}</td>
			  <td>{{ client }}</td>
			  <td>{{ created }}</td>
		  </tr>
      {{/requests}}
    </tbody>
  </table>

</div>
