<div class="panel panel-default">
  <ol class="breadcrumb pull-left" style="margin-top:8px;margin-bottom:0px;">
    <li><h3 class="panel-title">Titles</h3></li>
  </ol>
  <div class="panel-heading clearfix">
    <a class="btn btn-primary pull-right" href="/titles/create">Create</a>
  </div>

  <div class="panel-body">
    Enter title details here. The title name will be available when creating a new <a href="/requests">request</a>.
  </div>

  <table class="table">
    <thead>
      <th>Name</th>
    </thead>
    <tbody>
      {{# titles}}
	  	<tr>
			  <td>{{ title_name }}</td>
		  </tr>
      {{/titles}}
    </tbody>
  </table>

</div>
